window.vyhubConfig = {
  backend_url: '{{ VYHUB_BACKEND_URL }}',
  default_title: '{{ VYHUB_DEFAULT_TITLE }}',
  html_max_input_length: 10000,
  demo_mode: '{{ VYHUB_DEMO_MODE }}' === 'true',
  branding: '{{ VYHUB_BRANDING }}' !== 'false',
  sentry_dsn: '{{ VYHUB_WEB_SENTRY_DSN }}',
};
