.v-card
  background-color: rgba(33,33,33, 0.95) !important
.v-card-non-transparent
  background-color: rgba(33,33,33, 1) !important
.v-card__title
  background-color: rgba(33,33,33, 0.95) !important
.v-slide-group
  background-color: rgba(33,33,33, 0) !important
.v-data-table
  background-color: rgba(33,33,33, 0) !important
.v-expansion-panel
  background-color: rgba(33,33,33, 0) !important
.v-list
  background-color: rgba(33,33,33, 0) !important
.v-tabs-items
  background-color: rgba(33,33,33, 0) !important
.v-card.transparent
  background-color: rgba(0,0,0,0) !important
.v-card__title
  background-color: rgba(0,0,0,0) !important
.v-dialog .v-card
  background-color: rgba(33,33,33) !important
.v-menu__content
  background-color: rgba(33,33,33, 1) !important
.custom-icon
  fill: #FFFFFF
