.v-card
  background-color: rgba(33,33,33, 0.85) !important
.v-card__title
  background-color: rgba(33,33,33, 0.80) !important
.v-slide-group
  background-color: rgba(33,33,33, 0) !important
.v-data-table
  background-color: rgba(33,33,33, 0) !important
.v-expansion-panel
  background-color: rgba(33,33,33, 0) !important
.v-list
  background-color: rgba(33,33,33, 0) !important
.v-tabs-items
  background-color: rgba(33,33,33, 0) !important
.v-card.transparent
  background-color: rgba(0,0,0,0) !important
  .v-card__title
    background-color: rgba(0,0,0,0) !important
.v-card__title.grey-title
  background-color: rgb(200,200,200) !important
