.vue-notification.vuetify-notification {
    .notification-title {
      font-size: 14px;
    }

    // style for content
    .notification-content {
      font-size: 14px;
    }

    &.success {
         border-color: var(--v-success-darken2) !important;
    }

    &.warn {
        background: var(--v-warning-base) !important;
        border-color: var(--v-warning-darken2) !important;
    }

    &.error {
         border-color: var(--v-error-darken2) !important;
    }
}


.strikethrough-diagonal {
  position: relative;
  font-weight: bold;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 45%;
    right: 0;
    border-top: 2px solid;
    border-color: inherit;
    -webkit-transform: skewY(-10deg);
    -moz-transform: skewY(-10deg);
    transform: skewY(-10deg);
  }
}
