/* In Vuetify 3, they increased the max container size to 2400px */
@media (min-width: 2560px) {
  .v-container {
    max-width: 1800px !important;
  }
}

.vue-notification.vuetify-notification {
    .notification-title {
      font-size: 14px;
    }

    // style for content
    .notification-content {
      font-size: 14px;
    }

    &.success {
         border-color: rgb(var(--v-theme-success-darken-2)) !important;
    }

    &.warn {
        background: rgb(var(--v-theme-warning)) !important;
        border-color: rgb(var(--v-theme-warning-darken-2)) !important;
    }

    &.error {
         border-color: rgb(var(--v-theme-error-darken-2)) !important;
    }
}


.strikethrough-diagonal {
  position: relative;
  font-weight: bold;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 45%;
    right: 0;
    border-top: 2px solid;
    border-color: inherit;
    -webkit-transform: skewY(-10deg);
    -moz-transform: skewY(-10deg);
    transform: skewY(-10deg);
  }
}

.glow-effect {
  color: rgb(var(--v-theme-primary)); // No glow effect anymore, just make it simple
  border: 1px solid rgb(var(--v-theme-primary));
  border-radius: 3px !important;
}

.card-rounded {
  border-radius: 10px !important;
}

.card-rounded-bottom {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.card-rounded-top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.no-bottom-border-radius {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.no-top-border-radius {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}


/* For all Overlays
.v-overlay--active .v-overlay__scrim {
  display: none;
}

.v-overlay--active {
  backdrop-filter: blur(2px) !important;
  background: rgb(0 0 0 / 0.7) !important;
}*/

.cta-btn i{
  transition: all 0.2s ease-in-out;
}

.cta-btn:hover i{
  transform: scale(1.2);
}

.title-card:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(var(--v-theme-primary));
  border-bottom: 10px solid transparent;
  left: 15%;
  bottom: -18px
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

::-webkit-scrollbar {
  height: 6px /* adjust as necessary */
}

a {
    color: rgb(var(--v-theme-primary));
}

a:not([class]) {
  position: relative;
  color: rgb(var(--v-theme-primary));
  text-decoration: none;
}

a:not([class]):hover {
  color: rgb(var(--v-theme-primary));
}

a:not([class])::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--v-theme-primary));
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

/* Required for ckeditor in dialogs */
.ck-balloon-panel {
  z-index: 9999 !important;
}

/* VJSF fix popup (e.g. datetime editor) width */

.vjsf-text-field-menu .v-overlay__content {
  min-width: unset !important;
}

.v-card.transparent {
  background-color: transparent !important
}

.v-theme--dark .v-icon {
  fill: #FFFFFF;
}

.v-divider {
  opacity: 0.35;
}

/* VJSF help position */
.vjsf-help-message {
  top: 7px;
}

.ck-content ul, .ck-content ol {
  margin-left: 20px
}
